@import '../stylesheet/variable.scss';


header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10% ;
    align-items: center;
    font-family: 'Racing Sans One';

    .header_avatar {
        height: 25px !important;
        width: 25px !important;

    }

    .header_message {
        height: 25px !important;
        width: 25px !important;
    }

    


}